.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 4.5rem;
}

.NavigationMenuRoot {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  gap: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.NavigationMenuLink {
  cursor: pointer;
  outline: none;
  user-select: none;
  border-radius: var(--border-radius);
  user-select: none;
  color: var(--gray11);
  text-decoration: none;
  padding: 0.5rem 0.75rem;
}

.NavigationMenuLink:hover {
  color: var(--gray12);
}